/* style.css */

body {
    margin: 0;

}

.nav-bar {
    background-color: grey;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.nav-search {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.nav-search-input {
    border-radius: 10px;
}

.nav-logo {
    height: 50px;
    width: 200px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
}

/* t, r, b, l */
.stats,
.lcs,
.lec,
.lck,
.lpl {
    padding: 25px;
    border-left: 1px black solid;
    cursor: pointer;
}

.stats:hover,
.lcs:hover,
.lec:hover,
.lck:hover,
.lpl:hover {
    background-color: rgb(65, 65, 65);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgb(37, 37, 37)
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
} */

.lpl {
    border-right: 1px black solid;
}


.main-content-layout {
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0 auto;
    background-color: darkslategrey;
}


.search {
    padding-top: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    flex-direction: column;
}


.search-input {
    border-radius: 10px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.table-container {
    display: flex;
    justify-content: center;

}

table {
    border-collapse: collapse;
}

/* .table-container tbody {
    vertical-align: top;
} */

.table-container td {
    padding: 10px 10px;
}

.table-container thead {
    border-bottom: 1px solid black;
}

.table-container tbody tr td:not(:last-child),
.table-container thead tr th:not(:last-child) {
    border-right: 1px solid black;
}

.lcs-sidebar-buttons {
    border: 1px solid black;
    margin-right: 20px;

    background-color: grey;

}

.lcs-sidebar-buttons div {
    border-bottom: 1px black solid;
    padding: 5px;
}

.lcs-standing-title {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
}